/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer Definitions
#define QWERTY 0
#define COLEMAK 1
#define NAVNUM 2
#define SYMBOL 3
#define FUNCTIONS 4
#define GAMING 5


/ {
    macros {
        bitwarden: bitwarden {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp T &kp W>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp I >
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp C &kp E &kp UNDER &kp A &kp C &kp C &kp O &kp M &kp P &kp L &kp I &kp S &kp H &kp E &kp D &kp QMARK &kp N1>
                ;
        };

        email: email {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp N &kp O &kp A &kp H &kp P &kp I &kp N &kp E &kp A &kp P &kp P &kp L &kp E &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>
                ;
        };
    };
};



/ {
    combos {
        compatible = "zmk,combos";
        combo_qwertycolemak_toggle {
            timeout-ms = <50>;
            key-positions = <15 16 17>;
            layers = <QWERTY>;
            bindings = <&to COLEMAK>;
        };
        combo_colemakqwerty_toggle {
            timeout-ms = <50>;
            key-positions = <15 16 17>;
            layers = <COLEMAK>;
            bindings = <&to QWERTY>;
        };
        combo_alpha_to_gaming {
            timeout-ms = <50>;
            key-positions = <25 26 27>;
            layers = <QWERTY COLEMAK>;
            bindings = <&to GAMING>;
        };
        combo_gaming_to_qwerty {
            timeout-ms = <50>;
            key-positions = <25 26 27>;
            layers = <GAMING>;
            bindings = <&to QWERTY>;
        };
        combo_gaming_to_colemak {
            timeout-ms = <50>;
            key-positions = <15 16 17>;
            layers = <GAMING>;
            bindings = <&to COLEMAK>;
        };
    };
};



/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
/* 
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   Q  |   W  |   E  |   R  |   T  |                      |   Y  |   U  |   I  |   O  |   P  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   A  |   S  |   D  |   F  |   G  |                      |   H  |   J  |   K  |   L  |   ;  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   Z  |   X  |   C  |   V  |   B  |  |  2  |    |  3  |  |   N  |   M  |   ,  |   .  |   /  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  1  |   | TAB | SPACE | ESC  |            |  ENTER  | BS | DEL |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp Q         &kp W           &kp E             &kp R                 &kp T      &kp Y           &kp U                &kp I            &kp O           &kp P
&kp A         &kp S           &kp D             &kp F                 &kp G      &kp H           &kp J                &kp K            &kp L           &kp SEMI
&mt LSHFT Z   &mt LCTRL X     &mt LALT C        &kp V                 &kp B      &kp N           &kp M                &mt RALT COMMA   &mt LCTRL DOT   &mt RSHFT FSLH
&kp CAPSLOCK  &lt NAVNUM TAB  &lt SYMBOL SPACE  &lt FUNCTIONS ESCAPE  &kt LCTRL  &kt LEFT_SHIFT  &lt FUNCTIONS ENTER  &lt SYMBOL BSPC  &lt NAVNUM DEL  &kp C_MUTE
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC
            >;
        };

        colemak {
 /* 
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   Q  |   W  |   F  |   P  |   B  |                      |   J  |   L  |   U  |   Y  |   '  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   A  |   R  |   S  |   T  |   G  |                      |   M  |   N  |   E  |   I  |   O  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   Z  |   X  |   C  |   D  |   V  |  |  2  |    |  3  |  |   K  |   H  |   ,  |   .  |   /  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  1  |   | TAB | SPACE | ESC  |            |  ENTER  | BS | DEL |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp Q         &kp W           &kp F             &kp P                 &kp B      &kp J           &kp L                &kp U            &kp Y           &kp SQT
&kp A         &kp R           &kp S             &kp T                 &kp G      &kp M           &kp N                &kp E            &kp I           &kp O
&mt LSHFT Z   &mt LCTRL X     &mt LALT C        &kp D                 &kp V      &kp K           &kp H                &mt RALT COMMA   &mt LCTRL DOT   &mt RSHFT FSLH
&kp CAPSLOCK  &lt NAVNUM TAB  &lt SYMBOL SPACE  &lt FUNCTIONS ESCAPE  &kt LCTRL  &kt LEFT_SHIFT  &lt FUNCTIONS ENTER  &lt SYMBOL BSPC  &lt NAVNUM DEL  &kp C_MUTE
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC
            >;
        };

        NAVNUM {
/* 
 *
 * ,--------------------------------==--.                      ,----------------------------------.
 * |       | PgUp  |  UP  | PgDn |      |                      |   /  |   7  |   8  |   9  |   -  |
 * |----=--+-----=-+------+------+------|                      |------+------+------+------+------|
 * | Home  | Left  | Down | Right| End  |                      |   =  |   4  |   5  |   6  |   +  |
 * |-----=-+-----=-+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * | SHIFT | ENTER |  INS | CTRL | ALT  |  |  2  |    |  3  |  |   0  |   1  |   2  |   3  |   *  |
 * `------------------==----------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  1  |   | TAB | SPACE | ESC  |            |  ENTER  | BS | DEL |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&trans      &kp PG_UP  &kp UP      &kp PG_DN    &trans          &kp FSLH    &kp N7   &kp N8     &kp N9    &kp MINUS
&kp HOME    &kp LEFT   &kp DOWN    &kp RIGHT    &kp END         &kp EQUAL   &kp N4   &kp N5     &kp N6    &kp PLUS
&kp LSHFT   &kp RET    &kp INS     &kp LCTRL    &kp LALT        &kp N0      &kp N1   &kp N2     &kp N3    &kp ASTERISK
&trans      &trans     &trans      &trans       &trans          &trans      &trans   &trans     &trans    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC
            >;
        };

        symbol {
/* 
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   %  |   @  |   [  |   ]  |   \  |                      |      |      |   ^  |      |      |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   #  |   !  |   (  |   )  |   |  |                      |   _  |   '  |   "  |   ~  |   `  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   $  |      |   {  |   }  |   &  |  |  2  |    |  3  |  |      |      |      |      |      |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  1  |   | TAB | SPACE | ESC  |            |  ENTER  | BS | DEL |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp PRCNT   &kp AT     &kp LBKT    &kp RBKT     &kp NON_US_BSLH    &trans      &trans      &kp CARET          &trans      &trans
&kp HASH    &kp EXCL   &kp LPAR    &kp RPAR     &kp PIPE           &kp UNDER   &kp APOS    &kp DOUBLE_QUOTES  &kp TILDE   &kp GRAVE
&kp DLLR    &trans     &kp LBRC    &kp RBRC     &kp AMPS           &trans      &trans      &trans             &trans      &trans
&trans      &trans     &trans      &trans       &trans             &trans      &trans      &trans             &trans      &trans
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC
            >;
        };

        function {
/* 
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |  BT0 |  BT1 |  BT2 | BTCLR| Reset|                      | Reset|  F7  |  F8  |  F9  |  F11 |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |      | PREV |  pp  |  NXT |      |                      |      |  F4  |  F5  |  F6  |  F12 |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |MACRO1|MACRO2|      |      |LAYER4|  |  2  |    |  3  |  |  F10 |  F1  |  F2  |  F3  |  F13 |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  1  |   | TAB | SPACE | ESC  |            |  ENTER  | BS | DEL |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_CLR    &sys_reset      &sys_reset   &kp F7    &kp F8      &kp F9     &kp F11
&trans          &kp C_PREV   &kp C_PP      &kp C_NEXT    &trans          &trans       &kp F4    &kp F5      &kp F6     &kp F12
&bitwarden      &email       &trans        &trans        &tog 4          &kp F10      &kp F1    &kp F2      &kp F3     &kp F13
&trans          &trans       &trans        &trans        &trans          &trans       &trans    &trans      &trans     &trans
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp UP DOWN
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp C_BRIGHTNESS_DEC C_BRIGHTNESS_INC
            >;
        };

        gaming {
/* 
 *
 * ,----------------------------------.                      ,----------------------------------.
 * | ESC  |   Q  |   W  |   E  |   R  |                      |   1  |   2  |   3  |   4  |   5  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * | SHFT |   A  |   S  |   D  |   F  |                      |   6  |   7  |   8  |   9  |   0  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * | CTRL |   Z  |   X  |   C  |   V  |  |  I  |    |  PS |  |   G  |   J  |   P  |   U  |   `  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |  M  |   | TAB | SPACE | ENTR |            |    L1   | L2 |  L4 |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp ESCAPE      &kp Q      &kp W        &kp E       &kp R          &kp N1           &kp N2        &kp N3          &kp N4     &kp N5
&kp LEFT_SHIFT  &kp A      &kp S        &kp D       &kp F          &kp N6           &kp N7        &kp N8          &kp N9     &kp N0
&kp LCTRL       &kp Z      &kp X        &kp C       &kp V          &kp G            &kp J         &kp P           &kp U      &kp GRAVE
&kp M           &kp TAB    &kp SPACE    &kp ENTER   &kp I          &kp PSCRN        &mo 1         &mo 2           &mo 3      &kp C_MUTE
            >;

            sensor-bindings = <
                &inc_dec_kp SCRL_LEFT SCRL_RIGHT
                &inc_dec_kp SCRL_UP SCRL_DOWN
                &inc_dec_kp SCRL_RIGHT SCRL_LEFT
                &inc_dec_kp C_VOL_DN C_VOL_UP
            >;
        };
    };
};
